:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --very-almost-dark-cyan: hsl(183, 100%, 20%);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

body {
    font-family: 'Space Mono', monospace;
    background-color: var(--light-grayish-cyan);
}

h1 {
    color: var(--very-dark-cyan);
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: .5rem;
}

.container {
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    padding: 20px;
    align-self: center;
    border-radius: 8px;
}

.label {
    color: var(--very-dark-cyan);
}

.tip {
    background-color: var(--very-dark-cyan);
    color: var(--white);
    font-size: 24px;
    width: 100px;
    text-align: center;
    margin: 3px;
    border-radius: 8px;
}

.tip:hover {
    background-color: var(--strong-cyan);
}

.selected {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

#custom-tip-amount {
    width: 100px;
    text-align: center;
    border-radius: 8px;
}

.column-2 {
    background-color: var(--very-dark-cyan);
    border-radius: 8px;
    padding: 20px;
}

.label-white {
    color: var(--white);
}

.label-dark {
    color: var(--grayish-cyan);
}

.input-light {
    background-color: var(--very-light-grayish-cyan);
    border: 2px solid var(--very-light-grayish-cyan);
    padding: 5px;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    text-align: right;
    color: var(--very-dark-cyan);
    border-radius: 8px;
}

.input-light:focus {
    border: 2px solid var(--strong-cyan);
}

.totals {
    color: var(--strong-cyan);
    font-size: 34px;
    font-weight: bold;
}

button {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
    font-family: 'Space Mono', monospace;
    border: none;
    padding: 5px 50px 5px 50px;
    text-transform: uppercase;
    border-radius: 8px;
    font-weight: bold;
}

.disabled {
    background-color: var(--very-almost-dark-cyan);
    color: var(--very-dark-cyan);
    cursor: none;
}



